# Created by https://www.toptal.com/developers/gitignore/api/yarn,nextjs,strapi,macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=yarn,nextjs,strapi,macos,visualstudiocode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### NextJS ###
# Next build dir
.next/

### Strapi ###

.env
license.txt
exports
*.cache
build
.strapi-updater.json

############################
# OS X

Icon

# Linux

*~


# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# Packages

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# Logs and databases

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


# Misc.

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# Node.js

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

# Tests

testApp
coverage

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/yarn,nextjs,strapi,macos,visualstudiocode